<add name="Access-Control-Allow-Origin" value="*" />
</head>

<body>
    <div id="title-bar">
        <div id="title">
            Blocks
        </div>
        <div id="title-bar-btns">
            <button class="nav-btn-xe" id="min-btn"></button>
            <button class="nav-btn-xe" id="max-btn"></button>
            <button class="nav-btn-xe" id="close-btn"></button>
        </div>
    </div>
    <script>
        (function () {
            // Retrieve remote BrowserWindow
            const {BrowserWindow} = require('electron').remote

            function init() {
                // Minimize task
                document.getElementById("min-btn").addEventListener("click", (e) => {
                    var window = BrowserWindow.getFocusedWindow();
                    window.minimize();
                });

                // Maximize window
                document.getElementById("max-btn").addEventListener("click", (e) => {
                    var window = BrowserWindow.getFocusedWindow();
                    if (window.isMaximized()) {
                        window.unmaximize();
                    } else {
                        window.maximize();
                    }
                });

                // Close app
                document.getElementById("close-btn").addEventListener("click", (e) => {
                    var window = BrowserWindow.getFocusedWindow();
                    window.close();
                });
            };

            document.onreadystatechange = () => {
                if (document.readyState == "complete") {
                    init();
                }
            };
        })();
    </script>